%turbo-frame#amino-acid-sequence
  %h3.pt-3 Codon-amino mapping
  .d-flex.flex-wrap.align-start
    - @sequence.window_search(3,3) do |codon|
      .codon-amino-pair.d-flex.flex-column.m-1.p-1
        .codon= codon
        .amino= codon.translate(1, @codon_table).codes.first

  %h3.pt-3 Amino acid table
  - @sequence.translate(1, @codon_table).chars.uniq.sort.then do |aminos_present|
    %p #{pluralize(aminos_present.count, 'Unique amino acid')} present in the protein
    %table.table.table-bordered
      %thead.table-light
        %tr
          %th Name 
          %th Three letter abbreviation 
          %th One letter abbreviation
      %tbody.table-group-divider
        - aminos_present.each do |a|
          %tr
            %td= Bio::AminoAcid.name(a)&.capitalize
            %td= Bio::AminoAcid.one2three(a)
            %td= a

  %h3.pt-3 One-letter string
  %p= @sequence.translate(1, @codon_table)

  %h3.pt-3 Three-letter string
  %p= @sequence.translate(1, @codon_table).codes.compact.join(' ')

  %h3.pt-3 Fully named
  %p= @sequence.translate(1, @codon_table).names.compact.join(', ')