- content_for :title do
  Codons
  
= form_with url: codon_path do |f|
  .mb-3
    = f.label :sequence, class: 'form-label'
    = f.text_area :sequence, class: 'form-control'
    = f.radio_button :acid, 'RNA', checked: true, class: 'form-check-label ms-3 me-3'
    = f.label :acid_rna, 'RNA', class: 'form-check-label'
    = f.radio_button :acid, 'DNA', class: 'form-check-label ms-3'
    = f.label :acid_dna, 'DNA', class: 'form-check-label'
  = f.submit 'Submit', class: 'btn btn-primary'

  = turbo_frame_tag 'amino-acid-sequence'