- content_for :title do
  Codons
  
= form_with url: convert_codon_path, data: {turbo_frame: 'amino-acid-sequence'} do |f|
  .mb-3
    = f.label :sequence, class: 'form-label'
    = f.text_area :sequence, class: 'form-control'
  
  .mb-3
    = f.label :codon_table, class: 'form-label'
    = f.select :codon_table, Bio::CodonTable::DEFINITIONS.to_a.map(&:reverse),{}, class: 'form-select'


  .mb-3
    = f.submit 'Submit', class: 'btn btn-primary'


%turbo-frame#amino-acid-sequence