!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Nucleotides
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body.bg-light
    %header.p-3.mb-3.border-bottom.bg-white
      = render partial: 'shared/main_navigation'
    %main
      = render partial: 'shared/section_title', locals: {title: yield(:title)}  
      .container
        = yield
